<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <h1>Datos de Empleado</h1>
    <h3>Nombre
        {{form.nombre}}
    </h3>

    <h3>Apellido
        {{form.apellidos}}
    </h3>

    <h1>Datos del Departamento</h1>
    <h3>departamento
        {{form.departamento}}
    </h3>

    <h3>Nombre corto
        {{form.shorname}}
    </h3>

    <button type="submit">Guardar</button>
</form>
</body>
</html>